<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/webjars/layui/2.5.6/css/layui.css}" media="all">
    <script src="../../static/jquery-3.4.1/jquery-3.4.1.js"></script>
    <title>Title</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" th:fragment="head">
        <div class="layui-logo">服务费基本资料</div>

        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="show_user_menu">
                    贤心
                </a>
                <span class="layui-nav-more"></span>
                <dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/login_out}">退出</a></li>
        </ul>
    </div>


    <div class="layui-side layui-bg-black" th:fragment="menu">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">服务费列表</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>


<script>

    $(function(){
        $("#show_user_menu").on({
            mouseover : function(){
                $("span").attr("class","layui-nav-more layui-nav-mored");
                $("dl.layui-nav-child").attr("class","layui-nav-child layui-anim layui-anim-upbit layui-show");
            } ,
            mouseout : function(){
                $("span").attr("class","layui-nav-more");
                $("dl.layui-nav-child").attr("class","layui-nav-child layui-anim layui-anim-upbit");
            }
        }) ;
    }) ;
</script>
</body>
</html>