<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <script src="../../static/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../../static/layui/layui.js"></script>
    <title>增加服务费</title>
    <style>
        form {
            padding: 15px 15px;
        }

       .custom_lanel{
           position: relative;
           margin-top: -10px;
       }



    </style>

</head>
<body>
<div class="add_container">
    <form class="layui-form" id="form">
        <div class="layui-form-item">
            <label class="layui-form-label">合同编号</label>
            <div class="layui-input-inline">
                <input type="text" name="contract_no" required lay-verify="required" placeholder="请输入合同编号" autocomplete="off"
                       class="layui-input" maxlength="50">
            </div>

            <label class="layui-form-label">合同买方</label>
            <div class="layui-input-inline">
                <input type="text" name="contract_buyer" required lay-verify="required" placeholder="请输入合同买方"
                       autocomplete="off" class="layui-input" maxlength="50">
            </div>

            <label class="layui-form-label">使用单位</label>
            <div class="layui-input-inline">
                <input type="text" name="use_company" required lay-verify="required" placeholder="请输入使用单位"
                       autocomplete="off" class="layui-input" maxlength="50">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">公司名称</label>
            <div class="layui-input-inline">
                <input type="text" name="company_name" required lay-verify="required" placeholder="请输入公司名称" autocomplete="off"
                       class="layui-input" maxlength="50">
            </div>

            <label class="layui-form-label">服务费金额</label>
            <div class="layui-input-inline">
                <input type="text" name="serve_fee_cash" required lay-verify="required" placeholder="请输入服务费金额"
                       autocomplete="off" class="layui-input" maxlength="50">
            </div>

            <label class="custom_lanel layui-form-label">合同贷款<br/>总额</label>
            <div class="layui-input-inline">
                <input type="text" name="contract_loan_total" required lay-verify="required" placeholder="请输入合同贷款总额"
                       autocomplete="off" class="layui-input" maxlength="50">
            </div>


        </div>

        <div class="layui-form-item">
            <label class="custom_lanel layui-form-label">寄总公司<br/>日期</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" name="send_company_date" class="add_date layui-input" placeholder="请选择日期" readonly="true">
            </div>

            <label class="custom_lanel layui-form-label">收到确认书日期</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" name="get_confirm_date" class="add_date layui-input" placeholder="请选择日期" readonly="true">
            </div>

            <label class="layui-form-label">责任人</label>
            <div class="layui-input-inline">
                <select name="person_liable" lay-verify="required">
                    <option value=""></option>
                    <option value="0">张三</option>
                    <option value="1">李四</option>
                    <option value="2">王五</option>
                    <option value="3">赵六</option>
                </select>
            </div>

        </div>

        <div class="layui-form-item">
            <label class="custom_lanel layui-form-label">第一笔支付<br/>金额</label>
            <div class="layui-input-inline">
                <input type="text" name="first_pay_fee" placeholder="请输入第一笔支付金额" autocomplete="off" class="layui-input" maxlength="50">
            </div>

            <label class="custom_lanel layui-form-label">第一笔支付<br/>时间</label>
            <div class="layui-input-inline">
                <input type="text" name ="first_pay_date" autocomplete="off" class="add_date layui-input" placeholder="请选择日期" readonly="true">
            </div>

            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input type="checkbox" name="is_three_contract" title="是否三方合同" value="1" checked>
            </div>

        </div>

        <div class="layui-form-item">
            <label class="custom_lanel layui-form-label">第二笔支付<br/>金额</label>
            <div class="layui-input-inline">
                <input type="text" name="second_pay_fee" placeholder="请输入第二笔支付金额"
                       autocomplete="off" class="layui-input" maxlength="50">
            </div>

            <label class="custom_lanel layui-form-label">第二笔支付<br/>时间</label>
            <div class="layui-input-inline">
                <input type="text" name="second_pay_date" autocomplete="off" class="add_date layui-input" placeholder="请选择日期" readonly="true">
            </div>

        </div>

        <div class="layui-form-item">
            <label class="custom_lanel layui-form-label">第三笔支付<br/>金额</label>
            <div class="layui-input-inline" maxlength="50">
                <input type="text" name="third_pay_fee" placeholder="请输入第三笔支付金额" autocomplete="off" class="layui-input">
            </div>

            <label class="custom_lanel layui-form-label">第三笔支付<br/>时间</label>
            <div class="layui-input-inline">
                <input type="text" name="third_pay_date" autocomplete="off" class="add_date layui-input" placeholder="请选择日期" readonly="true">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="note" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button id="save" class="layui-btn" lay-submit = "" lay-filter="formDemo">提交</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(['form', 'laydate', 'layer'], function () {
        var form = layui.form, laydate = layui.laydate, layer = layui.layer;

        //监听提交
//        form.on('submit(formDemo)', function (data) {
//
//            $.ajax({
//                url: '/addServiceFee',
//                method: 'post',
//                data: data.field,
//                dataType: 'JSON',
//                success: function(res){
//                    if (res === 'ok') {
//                        layer.alert("修改成功", {icon: 6}, function () {
//                            // 获得frame索引
//                            var index = parent.layer.getFrameIndex(window.name);
//                            //关闭当前frame
//                            parent.layer.close(index);
//                            //修改成功后刷新父界面
//                            window.parent.location.reload();
//                        });
//                    } else {
//                        layer.msg("修改失败");
//                    }
//                },
//                error:function (data) {
//
//                }
//
//            });
//        });

        lay('.add_date').each(function () {
            laydate.render({
                elem: this,
                trigger: 'click'//呼出事件改成click
            });
        });

    });
    
    $(function () {
        $("#save").click(function(){
            $.ajax({
                cache:true,
                type:"post",
                url:"/addServiceFee",
                data:$("#form").serialize(),
                async:false,
                success:function(data){
                    debugger
                    var index = parent.layer.getFrameIndex(window.name);
//                  //关闭当前frame
                    parent.layer.close(index);
//                  //修改成功后刷新父界面
                    window.parent.location.reload();
                }
            })
        });
    });
</script>
</body>
</html>