<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <script src="../../static/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../../static/layui/layui.js"></script>
    <title>增加服务费</title>
    <style>
        form {
            padding: 15px 15px;
        }

       .custom_lanel{
           position: relative;
           margin-top: -10px;
       }



    </style>

</head>
<body>
<div class="add_container">
    <form class="layui-form" id="form">

        <input type="hidden" name="_method" value="put" th:if="${data!=null}">
        <input type="hidden" name="uuid" th:value="${data!=null}?${data.uuid}">
        <input type="hidden" name="contract_no" id="contract_no" >
        <input type="hidden" name="contract_buyer" id="contract_buyer" >
        <input type="hidden" name="contract_loan_total" id="contract_loan_total" >
        <input type="hidden" name="is_three_contract" id="is_three_contract" >

        <div class="layui-form-item">
            <label class="layui-form-label">公司名称</label>
            <div class="layui-input-inline">
                <input type="text" name="company_name" placeholder="请输入公司名称" autocomplete="off"
                       class="layui-input" maxlength="50" th:value="${data !=null}?${data.companyName}">
            </div>

            <label class="layui-form-label">服务费金额</label>
            <div class="layui-input-inline">
                <input type="number" name="serve_fee_cash" placeholder="请输入服务费金额"
                       autocomplete="off" class="layui-input" maxlength="50" th:value="${data !=null}?${data.serveFeeCash}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="custom_lanel layui-form-label">第一笔支付<br/>金额</label>
            <div class="layui-input-inline">
                <input type="number" name="first_pay_fee" placeholder="请输入第一笔支付金额" autocomplete="off" class="layui-input" maxlength="50" th:value="${data !=null}?${data.firstPayFee}">
            </div>

            <label class="custom_lanel layui-form-label">第一笔支付<br/>时间</label>
            <div class="layui-input-inline">
                <input type="text" name ="first_pay_date" autocomplete="off" class="add_date layui-input" placeholder="请选择日期" readonly="true" th:value="${data !=null}?${data.firstPayDate}">
            </div>

        </div>

        <div class="layui-form-item">
            <label class="custom_lanel layui-form-label">第二笔支付<br/>金额</label>
            <div class="layui-input-inline">
                <input type="number" name="second_pay_fee" placeholder="请输入第二笔支付金额"
                       autocomplete="off" class="layui-input" maxlength="50" th:value="${data!=null}?${data.secondPayFee}">
            </div>

            <label class="custom_lanel layui-form-label">第二笔支付<br/>时间</label>
            <div class="layui-input-inline">
                <input type="text" name="second_pay_date" autocomplete="off" class="add_date layui-input" placeholder="请选择日期" readonly="true" th:value="${data!=null}?${data.secondPayDate}">
            </div>

        </div>

        <div class="layui-form-item">
            <label class="custom_lanel layui-form-label">第三笔支付<br/>金额</label>
            <div class="layui-input-inline" maxlength="50">
                <input type="number" name="third_pay_fee" placeholder="请输入第三笔支付金额" autocomplete="off" class="layui-input" th:value="${data!=null}?${data.thirdPayFee}">
            </div>

            <label class="custom_lanel layui-form-label">第三笔支付<br/>时间</label>
            <div class="layui-input-inline">
                <input type="text" name="third_pay_date" autocomplete="off" class="add_date layui-input" placeholder="请选择日期" readonly="true" th:value="${data!=null}?${data.thirdPayDate}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="custom_lanel layui-form-label">第四笔支付<br/>金额</label>
            <div class="layui-input-inline" maxlength="50">
                <input type="number" name="four_pay_fee" placeholder="请输入第四笔支付金额" autocomplete="off" class="layui-input" th:value="${data!=null}?${data.fourPayFee}">
            </div>

            <label class="custom_lanel layui-form-label">第四笔支付<br/>时间</label>
            <div class="layui-input-inline">
                <input type="text" name="four_pay_date" autocomplete="off" class="add_date layui-input" placeholder="请选择日期" readonly="true" th:value="${data!=null}?${data.fourPayDate}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="custom_lanel layui-form-label">第五笔支付<br/>金额</label>
            <div class="layui-input-inline" maxlength="50">
                <input type="number" name="five_pay_fee" placeholder="请输入第五笔支付金额" autocomplete="off" class="layui-input" th:value="${data!=null}?${data.fivePayFee}">
            </div>

            <label class="custom_lanel layui-form-label">第五笔支付<br/>时间</label>
            <div class="layui-input-inline">
                <input type="text" name="five_pay_date" autocomplete="off" class="add_date layui-input" placeholder="请选择日期" readonly="true" th:value="${data!=null}?${data.fivePayDate}">
            </div>
        </div>


        <div class="layui-form-item">

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-primary" id="cancel">取消</button>
                    <button class="layui-btn" lay-submit lay-filter="formDemoTwo" th:text="${data!=null}?'修改':'增加'">增加</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(['form', 'laydate', 'layer'], function () {
        var form = layui.form, laydate = layui.laydate, layer = layui.layer;

        //监听提交
        form.on('submit(formDemoTwo)', function (data) {
            var datas = data.field;
            var type = datas._method;
            if(type == 'put'){
                $.ajax({
                    url:"/addServiceFeeChild",
                    data: datas,
                    type: 'put',
                    dataType: "json",
                    success: function (msg) {
                        if (msg === 1) {
                            layer.msg('修改成功', {
                                anim:6,
                                time: 1000
                            },function () {
                                window.parent.location.reload();
                                //先得到当前iframe层的索引
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });
                        }
                    },
                    error: function (error) {

                    }
                });
                return false;

            }else{
                $.ajax({
                    url:"/addServiceFeeChild",
                    data: datas,
                    type: 'post',
                    dataType: "json",
                    success: function (msg) {
                        if (msg === 1) {
                            layer.msg('增加成功', {
                                anim:6,
                                time: 1000
                            },function () {
                                window.parent.location.reload();
                                //先得到当前iframe层的索引
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });
                        }
                    },
                    error: function (error) {

                    }
                });
                return false;
            }
        });


        lay('.add_date').each(function () {
            laydate.render({
                elem: this,
                format:'yyyy/MM/dd',
                trigger: 'click'//呼出事件改成click
            });
        });

        //取消按钮关闭增加弹窗
        $(function () {
            $("#cancel").click(function () {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index);
                location.reload()
            })
        })

    });

</script>
</body>
</html>