<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <script src="../../static/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../../static/layui/layui.js"></script>
    <title>服务费列表</title>

    <style>
        .search_div_two {
            position: relative;
            margin-top: 30px;
        }

        .btn_div_two{
            position: relative;
            margin-top: 15px;
        }
        .btn_div_one{
            position: relative;
            margin-left: 60px;
        }

        .layui-input-block {
            position: relative;
            min-height: 36px;
            width: 100px;
            margin-top: 15px;
        }

        .layui-input-block {
            margin-left: 110px;
            min-height: 38px;
            position: relative;
            left: -35px;
            top: -10px;
        }

        .layui-form-label {
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right;
            position: relative;
            top: 5px;
            left: -25px;
        }

        #layui_select{
            position: relative;
            left: 1043px;
            top: -38px;
        }

        #layui_sel{
            width: 120px;
        }


    </style>

</head>
<body style="position: relative;min-width: 1500px">

<div class="layui-layout layui-layout-admin">
    <div th:replace="/common/common::head"></div>

    <div th:replace="/common/common::menu"></div>

    <div class="layui-body">
        <div style="padding: 15px;">
            <!--<div class="layui-btn-group demoTable">-->
                <!--<button class="layui-btn" data-type="getCheckData">获取选中行数据</button>-->
                <!--<button class="layui-btn" data-type="getCheckLength">获取选中数目</button>-->
                <!--<button class="layui-btn" data-type="isAll">验证是否全选</button>-->
            <!--</div>-->
                <div style="height:20px;">
                    合同编号：
                    <div class="layui-inline">
                        <input class="layui-input" name="contract_no" id="contract_no"  autocomplete="off" placeholder="请输入合同编号">
                    </div>
                    合同买方：
                    <div class="layui-inline">
                        <input class="layui-input" name="contract_buyer" id="contract_buyer"  autocomplete="off" placeholder="请输入合同买方">
                    </div>
                    使用单位：
                    <div class="layui-inline">
                        <input class="layui-input" name="use_company" id="use_company"  autocomplete="off" placeholder="请输入使用单位">
                    </div>
                    责任人：
                    <div class="layui-inline">
                        <input class="layui-input" name="person_liable" id="person_liable"  autocomplete="off" placeholder="请输入责任人">
                    </div>


                    <div class="layui-form">
                        <div class="layui-inline" id="layui_select">
                            三方合同：
                            <div class="layui-inline" id="layui_sel">
                                <select name="is_three_contract" id="is_three_contract">
                                    <option value="">请选择</option>
                                    <option value="0">是</option>
                                    <option value="1">否</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="search_div_two">
                    寄总公司日期：
                    <div class="layui-inline">
                        <input class="layui-input layui_date" placeholder="请选择日期" readonly="true" name="send_start_date" id="send_start_date" autocomplete="off">
                    </div>
                    <em>-</em>
                    <div class="layui-inline">
                        <input class="layui-input layui_date" placeholder="请选择日期" readonly="true" name="send_end_date" id="send_end_date" autocomplete="off">
                    </div>
                    收到确认书日期：
                    <div class="layui-inline">
                        <input class="layui-input layui_date" placeholder="请选择日期" readonly="true" name="receive_start_date" id="receive_start_date" autocomplete="off">
                    </div>
                    <em>-</em>
                    <div class="layui-inline">
                        <input class="layui-input layui_date" placeholder="请选择日期" readonly="true" name="receive_end_date" id="receive_end_date" autocomplete="off">
                    </div>
                    <div class="btn_div_one layui-inline">
                        <button class="layui-btn" data-type="reload">搜索</button>
                        <button class="layui-btn" data-type="reset" type="reset">重置</button>
                    </div>
                    <div class="btn_div_two">
                        <div class="layui-btn-group demoTable">
                            <button class="layui-btn" id="add">增加</button>
                            <button class="layui-btn" id="batchDelete" data-type="getCheckData">删除</button>
                        </div>
                    </div>
                </div>

            <table class="layui-table" id="setvice_fee_table" lay-filter="service_fee_table_filter"></table>
        </div>
    </div>
</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>

    $(function () {
        layui.use(['table','element','laydate','layer'], function(){
            var table = layui.table;
            var laydate = layui.laydate;
            var layer = layui.layer;

            //方法级渲染
            table.render({
                elem: '#setvice_fee_table'
                ,url: '/getServiceFeeInfo'
                ,cols: [ [
                     {checkbox: true, fixed: true}
                    ,{title: '序号', width:80, fixed: true,type: 'numbers'}
                    ,{field:'companyName', title: '公司名称', width:180}
                    ,{field:'serveFeeCash', title: '服务费金额', width:120, sort: true}
                    ,{field:'firstPayFee', title: '第一笔支付金额', width:130}
                    ,{field:'firstPayDate', title: '第一笔支付时间',width:150, sort: true}
                    ,{field:'secondPayFee', title: '第二笔支付金额', width:130}
                    ,{field:'secondPayDate', title: '第二笔支付时间', sort: true, width:150}
                    ,{field:'thirdPayFee', title: '第三笔支付金额', width:150}
                    ,{field:'thirdPayDate', title: '第三笔支付时间', sort: true, width:150}
                    ,{field:'wealth', title: '操作', width:200,toolbar: '#barDemo'}
                    ]
                ],
                
                //返回数据解析
                parseData : function (res) {
                    return{
                        "code": 0, //解析接口状态
                        "count": res.count,
                        "data": res.data//解析数据列表
                    }
                }
                //设置参数
                ,request:{
                    pageName: 'currNo', //页码的参数名称，默认：page
                    limitName: 'currSize' //每页数据量的参数名，默认：limit

                }
                ,id: 'service_fee_reload'
                ,page:true
                ,limit:10
                ,limits:[10,20,30,40,50]
                ,height: 430
            });


            //监听表格复选框选择
            table.on('checkbox(service_fee_table_filter)', function(obj){
                console.log(obj)
            });
            //监听工具条 
            table.on('tool(service_fee_table_filter)', function(obj){
                var data = obj.data;
                if(obj.event === 'detail'){
                    layer.msg('ID：'+ data.id + ' 的查看操作');
                } else if(obj.event === 'del'){
                    layer.confirm('确认要删除', function(index){
                        var delData = [];
                        delData.push(data.uuid);
                        $.ajax({
                            type:'post',
                            url:'/batchDeleteServiceFee',
                            contentType: "application/json;charset=UTF-8",
                            data:JSON.stringify(delData),
                            dataType:'text',
                            success:function (result) {
                                layer.msg('删除成功！',function () {
                                    layer.close(index);
                                    location.reload();
                                });

                            },
                            error:function (e) {

                            }

                        });

                    });
                } else if(obj.event === 'edit'){
                    layer.alert('编辑行：<br>'+ JSON.stringify(data))
                }
            });


            var $ = layui.$, active = {
                //获取选中数据
                getCheckData: function(){
                    var checkStatus = table.checkStatus('service_fee_reload'),data = checkStatus.data;
                    var length = data.length;
                    if(length == 0){
                        layer.alert('请选择要删除的服务费')
                    }else{
                        layer.confirm('确认要删除', function(index){
                            var delList = [];
                            for(var i=0;i<data.length;i++){
                                delList.push(data[i].uuid)
                            }
                            var list = JSON.stringify(delList)
                            $.ajax({
                                type:'post',
                                url:'/batchDeleteServiceFee',
                                contentType: "application/json;charset=UTF-8",
                                data:list,
                                dataType:'text',
                                success:function (result) {
                                    layer.msg('删除成功！',{icon: 1},function () {
                                        layer.close(index);
                                        location.reload();
                                    });

                                },
                                error:function (e) {

                                }

                            });
                        });

                    }
                }
                //获取选中数目
                ,getCheckLength: function(){ 
                    var checkStatus = table.checkStatus('service_fee_reload')
                        ,data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                }
                //验证是否全选
                ,isAll: function(){
                    var checkStatus = table.checkStatus('service_fee_reload');
                    layer.msg(checkStatus.isAll ? '全选': '未全选')
                }
                
                //搜索重加载
                ,reload: function(){
                    var data = {
                         contract_no : $('#contract_no').val(),
                         contract_buyer : $('#contract_buyer').val(),
                         use_company : $('#use_company').val(),
                         person_liable : $('#person_liable').val(),
                         is_three_contract : $('#is_three_contract').val(),
                         send_start_date : $('#send_start_date').val(),
                         send_end_date : $('#send_end_date').val(),
                         receive_start_date : $('#receive_start_date').val(),
                         receive_end_date : $('#receive_end_date').val(),
                    }
                    //执行重载
                    table.reload('service_fee_reload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: data

                    }, 'data');
                }

                //重置
                ,reset: function () {
                    $('#contract_no').val('');
                    $('#contract_buyer').val('');
                    $('#use_company').val('');
                    $('#person_liable').val('');
                    $('#is_three_contract').val('');
                    $('#send_start_date').val('');
                    $('#send_end_date').val('');
                    $('#receive_start_date').val('');
                    $('#receive_end_date').val('');
                    location.reload();


                }
            };

            //删除按钮状态监听
            $('.demoTable .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //搜索按钮状态监听
            $('.btn_div_one .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //为input设置时间
            lay('.layui_date').each(function() {
                laydate.render({
                    elem: this,
                    trigger: 'click'
                });
            });
        });

        //增加服务费
        $("#add").click(function () {
            layer.open({
                type: 2,
                content: '/addServiceFeeBefore',
                area: ['1100px','650px'],
                title: '增加服务费'

            })
        })

        });
</script>

</body>
</html>