<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hitachi.mapper.HitachiServiceFeeMapper">

    <select id="getDataTotal" resultType="java.lang.Integer">
        SELECT COUNT(A.UUID) FROM (<include refid="baseServiceFeeData"/>) A
    </select>

    <select id="getServiceFeeInfo" resultType="com.example.hitachi.entity.HitachiServiceFeeEntity">
        <include refid="baseServiceFeeData"/>
        <include refid="pagingSql"/>
    </select>

    <sql id="baseServiceFeeData">
        SELECT
            MAX(SF.UUID) UUID,
            SF.CONTRACT_NO,
            SF.CONTRACT_BUYER,
            SF.USE_COMPANY,
            SF.PERSON_LIABLE,
            SF.SEND_COMPANY_DATE,
            SF.GET_CONFIRM_DATE,
            SF.CONTRACT_LOAN_TOTAL,
            SF.IS_THREE_CONTRACT,
            NOTE
        FROM
            HITACHI_SERVE_FEE_COMMON SF
        WHERE SF.SHOW_YN = 'N'
        <if test='uuid != "" and uuid != null '>
            AND SF.UUID = #{uuid}
        </if>

        <if test='contract_no != "" and contract_no !=null '>
            AND SF.CONTRACT_NO LIKE '%' #{contract_no} '%'
        </if>
        <if test='contract_buyer != "" and contract_buyer != null '>
            AND SF.CONTRACT_BUYER LIKE '%' #{contract_buyer} '%'
        </if>
        <if test='use_company != "" and use_company != null '>
            AND SF.USE_COMPANY LIKE '%' #{use_company} '%'
        </if>
        <if test='person_liable != "" and person_liable != null '>
            AND SF.PERSON_LIABLE LIKE '%' #{person_liable} '%'
        </if>
        <if test='is_three_contract != "" and is_three_contract != null '>
            AND SF.IS_THREE_CONTRACT LIKE '%' #{is_three_contract} '%'
        </if>
        <if test='send_start_date != "" and send_start_date != null'>
            AND SF.SEND_COMPANY_DATE BETWEEN #{send_start_date} AND #{send_end_date}
        </if>

        <if test='receive_start_date != "" and receive_start_date != null'>
            AND SF.GET_CONFIRM_DATE BETWEEN #{receive_start_date} AND #{receive_end_date}
        </if>

        GROUP BY
        SF.CONTRACT_NO,
        SF.CONTRACT_BUYER,
        SF.USE_COMPANY,
        SF.PERSON_LIABLE,
        SF.SEND_COMPANY_DATE,
        SF.GET_CONFIRM_DATE,
        SF.CONTRACT_LOAN_TOTAL,
        SF.IS_THREE_CONTRACT,
        SF.NOTE
        ORDER BY SF.SEND_COMPANY_DATE DESC

    </sql>

    <sql id="pagingSql">
        LIMIT #{pageNo},#{pageSize}
    </sql>



    <insert id="addServiceFee" parameterType="java.util.Map" >
            INSERT INTO HITACHI_SERVE_FEE_COMMON(
                UUID,
                CONTRACT_NO,
                CONTRACT_BUYER,
                USE_COMPANY,
                CONTRACT_LOAN_TOTAL,
                PERSON_LIABLE,
                IS_THREE_CONTRACT,
                COMPANY_NAME,
                SERVE_FEE_CASH,
                SEND_COMPANY_DATE,
                GET_CONFIRM_DATE,
                SHOW_YN,
                ADD_DATE,
                NOTE)
                VALUES(
                #{uuid},
                #{contract_no},
                #{contract_buyer},
                #{use_company},
                #{contract_loan_total},
                #{person_liable},
                #{is_three_contract},
                #{company_name},
                #{serve_fee_cash},
                #{send_company_date},
                #{get_confirm_date},
                'N',
                CURDATE(),
                #{note})
    </insert>

    <insert id="addServiceFeeChild" parameterType="java.util.Map" >
        INSERT INTO HITACHI_SERVE_FEE(
            UUID,
            CONTRACT_NO,
            CONTRACT_BUYER,
            CONTRACT_LOAN_TOTAL,
            IS_THREE_CONTRACT,
            COMPANY_NAME,
            SERVE_FEE_CASH,
            GET_CONFIRM_DATE,
            FIRST_PAY_FEE,
            FIRST_PAY_DATE,
            SECOND_PAY_FEE,
            SECOND_PAY_DATE,
            THIRD_PAY_FEE,
            THIRD_PAY_DATE,
            FOUR_PAY_FEE,
            FOUR_PAY_DATE,
            FIVE_PAY_FEE,
            FIVE_PAY_DATE,
            ADD_DATE,
            SHOW_YN)
        VALUES(
            #{uuid},
            #{contract_no},
            #{contract_buyer},
            #{contract_loan_total},
            #{is_three_contract},
            #{company_name},
            #{serve_fee_cash},
            #{get_confirm_date},
            #{first_pay_fee},
            #{first_pay_date},
            #{second_pay_fee},
            #{second_pay_date},
            #{third_pay_fee},
            #{third_pay_date},
            #{four_pay_fee},
            #{four_pay_date},
            #{five_pay_fee},
            #{five_pay_date},
            CURDATE(),
            'N')

    </insert>



    <update id="batchDeleteServiceFee" parameterType="java.util.List">
        UPDATE HITACHI_SERVE_FEE_COMMON SF SET SHOW_YN = 'Y' WHERE UUID IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </update>


    <select id="getServiceFeeDataByKey" resultType="com.example.hitachi.entity.HitachiServiceFeeEntity">
        SELECT
            SF.UUID,
            SF.CONTRACT_NO,
            SF.CONTRACT_BUYER,
            SF.COMPANY_NAME,
            SF.SERVE_FEE_CASH,
            SF.USE_COMPANY,
            SF.PERSON_LIABLE,
            SF.SEND_COMPANY_DATE,
            SF.GET_CONFIRM_DATE,
            SF.CONTRACT_LOAN_TOTAL,
            SF.IS_THREE_CONTRACT,
            SF.NOTE
        FROM
            HITACHI_SERVE_FEE_COMMON SF
        WHERE SF.SHOW_YN = 'N' AND SF.UUID = #{uuid}
    </select>

    <update id="updateServiceFee" parameterType="HitachiServiceFeeEntity">
        UPDATE HITACHI_SERVE_FEE_COMMON SF
            SET CONTRACT_BUYER = #{contract_buyer},
            USE_COMPANY = #{use_company},
            PERSON_LIABLE = #{person_liable},
            SEND_COMPANY_DATE = #{send_company_date},
            GET_CONFIRM_DATE = #{get_confirm_date},
            CONTRACT_LOAN_TOTAL = #{contract_loan_total},
            IS_THREE_CONTRACT = #{is_three_contract},
            UPDATE_DATE = CURDATE(),
            NOTE = #{note}
        WHERE SF.UUID = #{uuid}
    </update>

    <update id="updateChildByParent" parameterType="HitachiServiceFeeEntity">
        UPDATE HITACHI_SERVE_FEE SF
        SET CONTRACT_BUYER = #{contract_buyer},
        CONTRACT_LOAN_TOTAL = #{contract_loan_total},
        IS_THREE_CONTRACT = #{is_three_contract},
        GET_CONFIRM_DATE = #{get_confirm_date},
        UPDATE_DATE = CURDATE()
        WHERE SF.CONTRACT_NO = #{contract_no}
    </update>



    <select id="getDataTotalChild" resultType="java.lang.Integer">
        SELECT COUNT(A.UUID) FROM (<include refid="baseServiceFeeData"/>) A
    </select>

    <select id="getServiceFeeInfoChild" resultType="com.example.hitachi.entity.HitachiServiceFeeEntity">
        <include refid="baseServiceFeeDataChild"/>
        <include refid="pagingSqlChild"/>
    </select>

    <sql id="baseServiceFeeDataChild">
        SELECT
            SF.UUID,
            SF.CONTRACT_NO,
            SF.COMPANY_NAME,
            SF.SERVE_FEE_CASH,
            SF.FIRST_PAY_FEE,
            SF.FIRST_PAY_DATE,
            SF.SECOND_PAY_FEE,
            SF.SECOND_PAY_DATE,
            SF.THIRD_PAY_FEE,
            SF.THIRD_PAY_DATE,
            SF.FOUR_PAY_FEE,
            SF.FOUR_PAY_DATE,
            SF.FIVE_PAY_FEE,
            SF.FIVE_PAY_DATE,
            SF.GET_CONFIRM_DATE
        FROM
            HITACHI_SERVE_FEE SF
        WHERE SF.SHOW_YN = 'N'

        <if test='contract_no != "" and contract_no !=null '>
            AND SF.CONTRACT_NO = #{contract_no}
        </if>

        ORDER BY SF.FIRST_PAY_DATE DESC

    </sql>

    <sql id="pagingSqlChild">
        LIMIT #{pageNo},#{pageSize}
    </sql>


    <select id="getServiceFeeChildDataByKey" resultType="com.example.hitachi.entity.HitachiServiceFeeEntity">
        SELECT
            SF.UUID,
            SF.CONTRACT_NO,
            SF.COMPANY_NAME,
            SF.SERVE_FEE_CASH,
            SF.FIRST_PAY_FEE,
            SF.FIRST_PAY_DATE,
            SF.SECOND_PAY_FEE,
            SF.SECOND_PAY_DATE,
            SF.THIRD_PAY_FEE,
            SF.THIRD_PAY_DATE,
            SF.FOUR_PAY_FEE,
            SF.FOUR_PAY_DATE,
            SF.FIVE_PAY_FEE,
            SF.FIVE_PAY_DATE
        FROM
            HITACHI_SERVE_FEE SF
        WHERE SF.SHOW_YN = 'N' AND SF.UUID = #{uuid}
    </select>


    <update id="updateServiceFeeChild" parameterType="HitachiServiceFeeEntity">
        UPDATE HITACHI_SERVE_FEE SF
        SET COMPANY_NAME = #{company_name},
            SERVE_FEE_CASH = #{serve_fee_cash},
            FIRST_PAY_FEE = #{first_pay_fee},
            FIRST_PAY_DATE = #{first_pay_date},
            SECOND_PAY_FEE = #{second_pay_fee},
            SECOND_PAY_DATE = #{second_pay_date},
            THIRD_PAY_FEE = #{third_pay_fee},
            THIRD_PAY_DATE = #{third_pay_date},
            FOUR_PAY_FEE = #{four_pay_fee},
            FOUR_PAY_DATE = #{four_pay_date},
            FIVE_PAY_FEE = #{five_pay_fee},
            FIVE_PAY_DATE = #{five_pay_date},
            UPDATE_DATE = CURDATE()
        WHERE SF.UUID = #{uuid}
    </update>


    <select id="getServeFeeByContractNO" resultType="java.lang.Integer">
        SELECT COUNT(FC.CONTRACT_NO) COUNT FROM HITACHI_SERVE_FEE_COMMON FC WHERE FC.CONTRACT_NO = #{contract_no}
    </select>


    <update id="deleteServiceFeeChild" parameterType="java.util.List">
        UPDATE HITACHI_SERVE_FEE SF SET SHOW_YN = 'Y' WHERE
        <if test='type=="parent"'>
            CONTRACT_NO  IN
        </if>
        <if test='type=="" '>
             UUID IN
        </if>
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </update>


    <select id="getServeFeeChildList" parameterType="java.util.List" resultType="java.lang.String">
        SELECT
          SC.CONTRACT_NO
        FROM
          HITACHI_SERVE_FEE_COMMON SC
        WHERE SC.UUID IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </select>


    <select id="getExportData" resultType="com.example.hitachi.entity.HitachiServiceFeeEntity">
        SELECT
            CO.CONTRACT_NO,
            CO.CONTRACT_BUYER,
            CO.USE_COMPANY,
            CO.CONTRACT_LOAN_TOTAL,
            CO.PERSON_LIABLE,
            IF(CO.IS_THREE_CONTRACT = 0,'False','True') IS_THREE_CONTRACT,
            SF.COMPANY_NAME,
            SF.SERVE_FEE_CASH,
            CO.SEND_COMPANY_DATE,
            SF.GET_CONFIRM_DATE,
            NOTE
        FROM
            HITACHI_SERVE_FEE_COMMON CO,
            HITACHI_SERVE_FEE SF
        WHERE SF.SHOW_YN = 'N'
              AND SF.GET_CONFIRM_DATE IS NULL
              AND CO.CONTRACT_NO = SF.CONTRACT_NO
    </select>

    <select id="getExportChildData" resultType="com.example.hitachi.entity.HitachiServiceFeeEntity">
        SELECT
            SF.CONTRACT_NO,
            SF.CONTRACT_BUYER,
            SF.CONTRACT_LOAN_TOTAL,
            IF(SF.IS_THREE_CONTRACT = 0,'False','True') IS_THREE_CONTRACT,
            SF.COMPANY_NAME,
            SF.SERVE_FEE_CASH,
            SF.FIRST_PAY_FEE,
            SF.FIRST_PAY_DATE,
            SF.SECOND_PAY_FEE,
            SF.SECOND_PAY_DATE,
            SF.THIRD_PAY_FEE,
            SF.THIRD_PAY_DATE,
            SF.FOUR_PAY_FEE,
            SF.FOUR_PAY_DATE,
            SF.FIVE_PAY_FEE,
            SF.FIVE_PAY_DATE,
            SF.GET_CONFIRM_DATE
        FROM
            HITACHI_SERVE_FEE SF
        WHERE
            SF.SHOW_YN = 'N' and SF.GET_CONFIRM_DATE IS NOT NULL
    </select>
</mapper>